/* page header styles */
.page-header-title {
    grid-row: 1;
    margin: .3rem;
  }
  .page-header-subtitle {
    grid-row: 2;
    margin: 0;
  }
  .page-header-logo {
    grid-row: span 2;
  }
  /* page footer styles */
  .page-footer {
    box-shadow: 0 -.1rem .1rem .1rem #aaa;
    height: 3rem;
  }
  .footer-copyright {
    color: #333;
    font-size: .8rem;
  }